* {
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
h1 {
  font-family: "Press Start 2p", "Courier New", Courier, monospace;
  color: white;
}
p {
  background-color: darkcyan;
  padding: 10px;
  color: white;
}
#p2 {
  background-color: darkseagreen;
}
